<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
  <meta charset="float32">
  <title> SOM </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/static/style.css') }}">
</head>

<body>
<h1> <center>Som Jaaa</center> </h1>
<header class="navbar">
  <form action="/upupup" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        <h2><center>  Test <input type="file" name="image"> </center> </h2>


          <div
              class = "card mb-3">
      <div class="card-body">
          <h3> <center>  {{ answer | safe}}</center> </h3>
              </div>
          </div>
      </span>

    <center> <input type="submit" value="Upload your image" class="btn btn-primary"></center>
  </form>

 <script src="js/sb-admin.min.js">
  <span class="navbar-text">
  </span>
</header>
</body>


******************************************************************************************************************************************************
     <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">-->
    <!--<a class="navbar-brand" href="index.html">Som Ja</a>-->
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
      <!--<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">-->
        <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">-->
          <!--<a class="nav-link" href="index.html">-->
            <!--<i class="fa fa-fw fa-dashboard"></i>-->


      <!--<ul class="navbar-nav sidenav-toggler">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link text-center" id="sidenavToggler">-->
            <!--<i class="fa fa-fw fa-angle-left"></i>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</nav>-->
  <!--<div class="content-wrapper">-->
    <!--<div class="container-fluid">-->
      <!--&lt;!&ndash; Breadcrumbs&ndash;&gt;-->
      <!--<ol class="breadcrumb">-->
        <!--<li class="breadcrumb-item">-->
          <!--<a href="#">SOM JA</a>-->
        <!--</li>-->
        <!--<li class="breadcrumb-item active">My Dashboard</li>-->
      <!--</ol>-->

      <!--&lt;!&ndash; Icon Cards&ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col-xl-3 col-sm-6 mb-3">-->
          <!--<div class="card text-white bg-primary o-hidden h-100">-->
            <!--<div class="card-body">-->
              <!--<div class="card-body-icon">-->
                <!--<i class="fa fa-fw fa-comments"></i>-->
              <!--</div>-->
