<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
  <meta charset="float32">
  <title> SOM </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/static/style.css') }}">
</head>

<body>
<h1> <center>Som Jaaa</center> </h1>
<header class="navbar">
  <form action="/upupup" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        <h2><center>  Test <input type="file" name="image"> </center> </h2>
          <div
              class = "card mb-3">
      <div class="card-body">
                  {{ answer | safe}}
              </div>
          </div>
      </span>

    <center> <input type="submit" value="Upload your image" class="btn btn-primary"></center>
  </form>

  <span class="navbar-text">
  </span>
</header>

